page-home {
  .ion-list {
    border-left: 2px solid green;
  }

  .ion-item {
    position: relative;
    padding: 0 30px;
    list-style: none;
    border-left: 2px solid #ccc;
  }

  .label-md {
    word-wrap: normal;
  }
}
